{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "9.9.0"
        }
      }
    ],
    "flow",
    [
      "minify",
      {
        "mangle": false,
        "evaluate": false
      }
    ]
  ],
  "plugins": [
    "add-module-exports"
  ]
}
